main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hoursearnings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;

}

.hours_title {
    font-family: Alegreya;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    Color: rgba(11, 30, 99, 1);
    padding-top: 40px;
    padding-bottom: 42px;
}

.hours_container {
    display: flex;
    flex-direction: column;
    margin-left: 56px;

}

.line_container {
    display: flex;
    width: 100%;
    height: 2px;
    background: rgba(14, 33, 105, 0.08);
    margin-bottom: 38px;

}

.line_div1,
.line_div2,
.line_div3 {
    height: 4px;
    flex: 1;
    transition: all 0.2s ease 0s;
}

.line_div1 {
    background-color: rgba(14, 33, 105, 1);

    /* flex-basis: 33%; */
}

.line_div2 .line_div3 {
    background-color: gray;
    flex-basis: calc((100% - 33%) / 2);
}

.hours_title_box {
    display: flex;
    flex-direction: row;
    font-family: Mukta;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(14, 33, 105, 1);
    align-items: center;
    margin-bottom: 38px;
}

.hours_title_box span {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 28px;

    border-radius: 22px;
    border-width: 20px;
    background: rgba(14, 33, 105, 0.04);
    margin-left: 32px;
}

.hours_title_box span:nth-child(1) {
    margin-left: 0px;
}

.hours_title_box p {
    color: rgba(14, 33, 105, 0.1);
    margin-right: 32px;
    margin-left: 32px;
    font-family: Mukta;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(14, 33, 105, 1);
}

.widthonclick {
    display: flex;
    align-items: center;
    margin-left: 34px;
    color: rgba(14, 33, 105, 0.1);
    margin-right: 32px;
    margin-left: 32px;
    font-family: Mukta;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
}
.widthonclick p {
    color: rgba(14, 33, 105, 0.1);
   
}
.widthonclick:hover p {
    color: rgba(14, 33, 105, 1);
}
.widthonclick:hover span { 
    background: rgba(14, 33, 105, 1);
    color: white;
}
.widthonclick:focus p {color: rgba(14, 33, 105, 1);
 }
.widthonclick:focus span {color:white;  
    background: rgba(14, 33, 105, 1);
      }

.hours_title_box :nth-child(1) {
    margin-left: 0px;
}

.settings_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings_wrapper {
    height: 96px;
    width: 196px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: 56px;
    cursor: pointer;
}

.settings_wrapper svg {
    margin-right: 18px;
    margin-left: 20px;
}

.settings_wrapper li {
    margin-bottom: 12px;
}

.settings_wrapper ul {
    margin-top: 12px;
}

.settings_wrapper li:nth-child(1) {
    font-family: Mukta;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(13, 20, 38, 0.72);

}

.settings_wrapper li:nth-child(2) {
    font-family: Alegreya;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(13, 20, 38, 1);

}

.run_settings_wrapper {
    display: flex;
    align-items: center;


}

.runsettingsbtn {
    height: 48px;
    width: 210px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: none;
}
.runsettingsbtn:hover { 
    background: rgba(14, 33, 105, 1);
}
.runsettingsbtn:hover a svg{
    color:white;
}
.runsettingsbtn:hover span {
    color: white;
}


.runsettingstitle {
    margin-left: 12px;

}

.runsettings {
    font-family: Mukta;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    color: rgba(14, 33, 105, 1);
    display: flex;
    align-items: center;
    float: right;
    margin-right: 50px;

}

.manage_employer {
    margin-top: 60px;
}

.filter_container {
    display: flex;
    justify-content: space-between;
}

.filter_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.filter_title {
    font-family: Alegreya;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: rgba(11, 30, 99, 1);

}

.searchbox_container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    width: 224px;
    height: 48px;
    margin-right: 24px;
}

.searchbox_container svg {
    padding-left: 16px;
}

.filter_searchbox {
    height: 48px;
    border: none;
    top: 448px;
    border-radius: 8px;

    outline: none;

}

.filter_box {

    height: 48px;
    width: 88px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    outline: none;
    border: none;

}

.filter_box a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.filter_box span {
    font-family: Mukta;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(13, 20, 38, 1);
    padding-right: 6px;
    padding-top: 2px;
}

.filter_box svg {
    margin-right: 10px;
    color: rgba(13, 20, 38, 1);
    ;
}